<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced Stats</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding: 20px;
        }
        h1, h2 {
            margin-bottom: 20px;
        }
        .table-container {
            margin-top: 20px;
        }
    </style>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Advanced Stats</h1>

        <div class="table-container">
            <table class="table table-striped table-hover table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th>Metric</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Portfolio Return</td>
                        <td>{{ stats.portfolio_return }}</td>
                    </tr>
                    <tr>
                        <td>Volatility</td>
                        <td>{{ stats.volatility }}</td>
                    </tr>
                    <tr>
                        <td>Sharpe Ratio</td>
                        <td>{{ stats.sharpe_ratio }}</td>
                    </tr>
                    <tr>
                        <td>Asset Allocation</td>
                        <td>Stocks: {{ stats.asset_allocation.asset_allocation.stocks * 100 }}%,
                            Bonds: {{ stats.asset_allocation.asset_allocation.bonds * 100 }}%,
                            ETFs: {{ stats.asset_allocation.asset_allocation.etfs * 100 }}%</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2>Cumulative Returns Over Time</h2>
        <div id="graph">{{ graph_html|safe }}</div>

        <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Back to Portfolio</a>
    </div>
    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>